* {box-sizing:border-box;}
nav { padding:3rem; 
      background-color:mediumpurple; 
      margin: 5rem;
      border: 5px solid black; 
}
h2 { border-bottom: 2px solid gray; 
     padding-bottom: 1rem;
}
figure {
          border:2rem solid pink;
          padding: 2rem; 
}
header img { margin-top: 2rem; 
            margin-bottom: 2rem; 
            margin-left: 0;
            margin-right: 0; 
            margin: 2rem 0; 
  
nav { background-color: papayawhip;
      padding: 3em; 
} 
footer { border-top: 4px dash pink; 
}  


